/* resets */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  margin-top: 8.5rem;
  font-family: raleway, sans-serif; }

/* header */
.headerBoot {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1; }

.nav {
  flex-grow: 0;
  padding: 2rem;
  font-size: 1.5rem; }

.navbar-nav li a:hover {
  transform: scale(1.03); }

/* mixins */
/* carrousel */
.carouselMobile {
  display: none; }

.carrusel {
  width: 100%;
  margin: 0 auto; }

.info {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .info .mediosDePago, .info .zonasDeEntrega {
    width: 50%;
    text-align: center;
    padding: 2%; }
    .info .mediosDePago img, .info .zonasDeEntrega img {
      width: 80px;
      height: 80px; }
    .info .mediosDePago p, .info .zonasDeEntrega p {
      margin-bottom: 0; }

/* productos */
.productos {
  display: flex;
  flex-direction: column; }
  .productos .tituloProductos {
    font-size: 10vw;
    text-align: left;
    padding: 0.3em;
    background-color: #EAC136;
    color: black;
    margin-top: 2%; }
  .productos .imagenesProductos {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .productos .imagenesProductos .contenedorImagenes {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: auto;
      flex-direction: row;
      flex-wrap: wrap; }
      .productos .imagenesProductos .contenedorImagenesFoto {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border: solid 1px #e9e1e1;
        padding: 2%;
        margin: 2% 0; }
        .productos .imagenesProductos .contenedorImagenesFoto:hover {
          transform: scale(1.01);
          transition: 1s; }
        .productos .imagenesProductos .contenedorImagenesFoto h2 {
          margin: 0;
          padding-top: 0.4rem; }
        .productos .imagenesProductos .contenedorImagenesFoto img {
          width: 100%; }

/* eventos */
.eventos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  height: auto;
  margin-bottom: 3%; }
  .eventosTitulo {
    width: 100%;
    font-size: 10vw;
    text-align: left;
    padding: 0.3em;
    background-color: #EAC136;
    color: black;
    margin-bottom: 2%; }
  .eventosContainer {
    width: 100%;
    padding: 3% 3% 0 3%;
    border: solid 1px #e9e1e1; }
  .eventosImagen {
    width: 100%; }
    .eventosImagen img {
      width: 100%; }
  .eventosTexto {
    padding-top: 2%;
    width: 100%;
    text-align: center; }
    .eventosTexto p {
      font-size: 1.2em;
      margin-bottom: 0; }
    .eventosTexto a {
      margin: 2%; }

.sombra {
  box-shadow: 1px 3px 5px #c5bebe; }

/* seccion picadas */
.botonCarrito {
  display: flex;
  width: 3.7rem;
  gap: 2px; }
  .botonCarrito #carritoCondicion {
    position: relative;
    right: 0;
    width: 15px;
    height: 15px;
    visibility: hidden; }
  .botonCarrito button {
    /* border-radius: 4px; */
    border: none; }
    .botonCarrito button :hover {
      box-shadow: 0.5px 0.5px 0.2px #bbbaba; }
    .botonCarrito button img {
      width: 40px;
      height: 40px;
      border: none; }

.picadas {
  display: flex;
  flex-direction: column; }
  .picadasMenu {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .picadasMenu .tituloPicadas {
      font-size: 10vw;
      text-align: left;
      padding: 0.3em;
      background-color: #EAC136;
      color: black; }
    .picadasMenu label {
      margin: 2% 0 2% 2%;
      font-size: 1.5rem; }
    .picadasMenuTitulos {
      display: flex;
      justify-content: space-between; }

.dropdown {
  padding: 2% 0 2% 3%; }

.divProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

span {
  font-size: 1.8rem; }

.fotosPicadas {
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .fotosPicadas .containerPicadas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; }
    .fotosPicadas .containerPicadas .containerInterno {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
    .fotosPicadas .containerPicadas .containerTitulo {
      width: 100%;
      padding: 2% 0 2% 3%;
      text-align: center; }
  .fotosPicadas article {
    padding: 1%;
    width: 50%;
    min-width: 55vh; }

.animation {
  animation-name: aumento;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s; }

@keyframes aumento {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.card {
  margin-bottom: 1rem; }
  .card h5 {
    font-size: 2rem; }
  .card-title::after {
    content: "."; }

#tablasChicas {
  padding-top: 2%; }

#tablasMedianas {
  display: none; }

#tablasGrandes {
  display: none; }

.carrito {
  display: flex;
  flex-direction: column; }
  .carrito h3 {
    width: 100%;
    text-align: center; }
  .carrito .cerrarCarrito {
    position: absolute;
    top: 2px;
    right: 2px; }
  .carritoTitulos {
    display: flex;
    flex-direction: row; }
    .carritoTitulos1 {
      width: 50%; }
      .carritoTitulos1 li {
        list-style: none; }
    .carritoTitulos2 {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-around; }
      .carritoTitulos2 li {
        list-style: none; }
  .carritoTitulosA {
    display: flex;
    flex-direction: row; }
    .carritoTitulosA1 {
      width: 50%; }
      .carritoTitulosA1 li {
        list-style: none; }
    .carritoTitulosA2 {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-around; }
      .carritoTitulosA2 li {
        list-style: none; }

.precios::before {
  content: "$ "; }

.precios::after {
  content: ".00"; }

h6 {
  display: none; }

.borrarProducto {
  width: 1.8rem;
  height: 1.8rem;
  color: white;
  background-color: red;
  border-radius: 4px;
  border: white 0.2px solid;
  box-shadow: 0.5px 0.5px 0.2px #bbbaba; }

.carritoTotal {
  margin-left: 2rem;
  font-size: 1.3rem; }

.montoFinal {
  display: flex;
  justify-content: space-evenly; }
  .montoFinal .botonFinalizaCompra {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px; }

.carrocarro {
  width: 100%;
  height: 100%;
  z-index: 1; }
  .carrocarro .shopCart {
    z-index: 4;
    visibility: hidden;
    position: fixed;
    background-color: white;
    width: 45%;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px, 5px, 5px black;
    -webkit-box-shadow: 10px, 5px, 5px black;
    transform: translateX(0); }
    .carrocarro .shopCart .cerrarCarrito {
      width: 1.8rem;
      height: 1.8rem;
      color: white;
      background-color: black;
      border-radius: 4px;
      border: white 0.2px solid;
      box-shadow: 0.5px 0.5px 0.2px #bbbaba; }

.ocultarCarrito {
  visibility: hidden;
  transition: 2s linear; }

/* seccion productos */
.tituloProductos {
  font-size: 10vw;
  text-align: left;
  padding: 0.3em;
  background-color: #EAC136;
  color: black; }

.containerBox {
  display: flex;
  width: 100%; }
  .containerBox .containerFlexCajas {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap; }
    .containerBox .containerFlexCajas .containerCajas {
      display: flex;
      width: 30rem;
      min-width: 15rem;
      margin: 3%;
      flex-direction: column;
      border-radius: 4px; }
      .containerBox .containerFlexCajas .containerCajas .fotoCajas {
        padding: 3%; }
        .containerBox .containerFlexCajas .containerCajas .fotoCajas img {
          width: 100%; }
      .containerBox .containerFlexCajas .containerCajas .datosCajas {
        padding: 3%; }
        .containerBox .containerFlexCajas .containerCajas .datosCajas .contenidoCajas {
          height: 17rem; }

/* BOTON WHATSAPP */
.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #ffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999; }

/* historia */
.historiaTitulo {
  font-size: 10vw;
  text-align: left;
  padding: 0.3em;
  background-color: #EAC136;
  color: black; }

.historiaContainer {
  display: flex;
  width: 100%;
  padding: 2%;
  flex-direction: column;
  align-items: center; }
  .historiaContainer img {
    width: 100%;
    padding: 4%; }
  .historiaContainer h2 {
    padding: 3% 0 0 3%; }
  .historiaContainer p {
    margin: 3%;
    font-size: 1.3rem; }

/* seccion contacto */
.contacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2%; }
  .contacto .tituloContacto {
    font-size: 10vw;
    text-align: left;
    padding: 0.3em;
    background-color: #EAC136;
    color: black; }
  .contacto .formularioP {
    width: 100%; }
    .contacto .formularioP p {
      text-align: center;
      font-size: 1.5rem;
      padding: 4%;
      margin: 0; }
  .contacto .containerContacto {
    display: flex;
    flex-direction: row; }
    .contacto .containerContacto .formulario {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%; }
      .contacto .containerContacto .formularioForm {
        width: 100%; }
        .contacto .containerContacto .formularioForm form {
          display: flex;
          width: 90%;
          z-index: -1;
          flex-direction: column;
          align-items: flex-start; }
        .contacto .containerContacto .formularioForm label {
          display: flex;
          width: 50%;
          font-size: 2rem;
          padding: 1% 0;
          margin-left: 4%; }
        .contacto .containerContacto .formularioForm select, .contacto .containerContacto .formularioForm input {
          border-radius: 5px;
          border: 1px solid black;
          margin-left: 6%; }
        .contacto .containerContacto .formularioForm input {
          width: 100%;
          height: 40px; }
        .contacto .containerContacto .formularioForm textarea {
          width: 100%;
          height: 50%;
          border-radius: 5px;
          border: 1px solid black;
          margin: 0 0 0.5rem 6%; }
    .contacto .containerContacto .containerIframe {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center; }

#botonSubmit {
  background-color: black;
  color: white;
  margin-bottom: 0.5rem;
  width: 10rem; }

#botonReset {
  width: 10rem;
  margin-bottom: 1rem; }

/* footer */
.footer {
  background: white;
  background: linear-gradient(90deg, white 0%, #d8d5e6 35%, white 100%);
  display: flex;
  justify-content: space-between; }

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; }
  .newsletter h4 {
    font-size: 1.4rem; }
  .newsletter div {
    display: flex;
    align-items: center; }
  .newsletter input {
    width: 20rem;
    height: 1.5rem;
    margin-left: 0.2rem; }
  .newsletter p {
    margin: 0.4rem;
    font-size: 0.9rem; }

.footerMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 0; }
  .footerMenu img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.2rem; }

#listaInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  color: black;
  list-style: none; }

.datosUbicacion {
  display: flex;
  justify-content: flex-end; }

#botonNews {
  background-color: black;
  color: white;
  font-size: 1rem;
  width: 5rem; }

/* MEDIA QUERY 1000PX */
@media screen and (max-width: 1000px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "footerMenu newsletter" "footerMenu newsletter" "datosUbicacion datosUbicacion"; }
  .newsletter {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; }
    .newsletter div {
      display: flex;
      align-items: center; }
    .newsletter input {
      width: 20rem;
      height: 1.5rem;
      margin-left: 0.2rem; }
    .newsletter p {
      margin: 0.4rem;
      font-size: 0.9rem; }
  .footerMenu {
    grid-area: footerMenu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0; }
    .footerMenu a {
      text-decoration: none;
      font-size: 1.7rem;
      font-weight: 500;
      color: black;
      padding: 1rem; }
  .datosUbicacion {
    grid-area: datosUbicacion;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .datosUbicacion li {
      display: flex;
      justify-content: space-around; }
  #listaInfo {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: black; } }

/* MEDIA QUERY 768PX */
@media screen and (max-width: 768px) {
  .carouselDesktop {
    display: none; }
  .carouselMobile {
    display: block; }
  .picadas h2 {
    font-size: 2.0rem;
    text-align: center;
    padding: 5%; }
  .cajas h2 {
    font-size: 2.0rem;
    text-align: center;
    padding: 5%; }
  .footer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "footerMenu footerMenu" "newsletter newsletter" "datosUbicacion datosUbicacion"; }
  .newsletter {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 5%; }
    .newsletter div {
      display: flex;
      align-items: center; }
    .newsletter input {
      width: 20rem;
      height: 1.5rem;
      margin-left: 0.2rem; }
    .newsletter p {
      margin: 0.4rem;
      font-size: 0.9rem; }
  .footerMenu {
    grid-area: footerMenu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4% 0 0 0; }
    .footerMenu a {
      text-decoration: none;
      font-size: 1.7rem;
      font-weight: 500;
      color: black;
      padding: 1rem; }
  .datosUbicacion {
    grid-area: datosUbicacion;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .datosUbicacion li {
      display: flex;
      justify-content: space-around; }
  #listaInfo {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: black; }
  .contacto .containerContacto {
    flex-direction: column;
    width: 100%; }
    .contacto .containerContacto .formulario {
      width: 100%; }
    .contacto .containerContacto .containerIframe {
      width: 100%; }
      .contacto .containerContacto .containerIframe iframe {
        width: 100%;
        padding: 5%; }
  .carrocarro .shopCart {
    width: 100%; } }

/* MEDIA QUERY 520PX */
@media screen and (max-width: 520px) {
  .info {
    flex-direction: column; }
    .info .mediosDePago, .info .zonasDeEntrega {
      width: 100%;
      margin: 4% 0; }
      .info .mediosDePago p, .info .zonasDeEntrega p {
        font-size: 1.2rem; }
    .info .zonasDeEntrega {
      width: 100%;
      margin-bottom: 4%; }
      .info .zonasDeEntrega p {
        font-size: 1.2rem; }
  .productos .tituloProductos {
    margin: 4% 0 2% 0; }
  .eventos {
    margin-bottom: 3%; }
    .eventosTitulo {
      margin: 2% 0 1% 0; }
    .eventosContainer {
      margin-top: 3%; }
    .eventosTexto {
      font-size: 0.8rem; }
    .eventos a {
      font-size: 1rem;
      margin: 2%; }
  .picadas h2 {
    font-size: 1.7rem;
    text-align: left;
    padding: 5%; }
  .picadas p {
    font-size: 0.9rem; }
  .cajas h2 {
    font-size: 1.7rem;
    text-align: left;
    padding: 5%; }
  .historiaTexto p {
    font-size: 1.1rem; }
  .contacto .formularioP p {
    font-size: 1.3rem; }
  .footer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-repeat: repeat;
    grid-template-areas: "footerMenu footerMenu" "newsletter newsletter" "datosUbicacion datosUbicacion"; }
    .footerMenu {
      padding-top: 4%;
      margin-left: 0; }
    .footer .newsletter {
      padding: 5%; }
      .footer .newsletter p {
        display: none; }
      .footer .newsletter #email {
        width: 70vw; }
    .footer .datosUbicacion #listaInfo li:last-child {
      display: none; }
  /*   .carrocarro {
        .shopCart {
            width: 100%;
        }
    } */ }
