
.tituloProductos {
     @include tituloSeccion;

    
 }

 .containerBox {
    display: flex;
    width: 100%;
   
  

    .containerFlexCajas {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-around   ;
        flex-wrap: wrap;
        
        
        .containerCajas {
            display: flex;
            width: 30rem;
            min-width: 15rem;
            margin: 3%;
            flex-direction: column;
            border-radius: 4px;
            

            
            .fotoCajas {
                padding: 3%;
                img {
                    width: 100%;
                } 
            }
            .datosCajas {
                padding: 3%;
                .contenidoCajas{
                    height: 17rem;
                }
            }
        }

        
    }
}


 /* BOTON WHATSAPP */

 .btn-whatsapp {
     display: block;
     width: 70px;
     height: 70px;
     color: #ffff;
     position: fixed;
     right: 20px;
     bottom: 20px;
     border-radius: 50%;
     line-height: 80px;
     text-align: center;
     z-index: 999;
 }

 