
.footer {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(216,213,230,1) 35%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: space-between;

  
}

.newsletter {
    
    @include flex-column-center;
    align-items: center;
    font-size: 1.2rem;
    
    h4 {
        font-size: 1.4rem;
    }
    div {
        display: flex;
        align-items: center;
    }

    input {
        width: 20rem;
        height: 1.5rem;
        margin-left: 0.2rem;
    
    }
    p {
        margin: 0.4rem;
        font-size: 0.9rem;
    }
}



.footerMenu {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
   

    img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.2rem; 
    }

}


#listaInfo {
    @include flex-column-center;
    align-items: flex-end;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: black;
    list-style: none;
}

.datosUbicacion {
    display: flex;
    justify-content: flex-end;

}
#botonNews {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1rem;
    width: 5rem;


}
