.headerBoot {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;

}

.nav {
    flex-grow: 0;
    padding: 2rem;
    font-size: 1.5rem;
}

.navbar-nav li a:hover {
    transform: scale(1.03);
}

.flexLogoRedes {
    display: flex;
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin: 0;

        li {
            padding: 5%;

            img {
                height: 2rem;
                width: 2rem;
            }
        }
        
    }
    
}