/* MEDIA QUERY 1000PX */

@media screen and (max-width: 1000px) {

    .footer {
        display: grid;
        grid-template-columns: 2fr 3fr;

        grid-template-areas:
            "footerMenu newsletter"
            "footerMenu newsletter"
            "datosUbicacion datosUbicacion";
    }

    .newsletter {
        grid-area: newsletter;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;

        div {
            display: flex;
            align-items: center;
        }

        input {
            width: 20rem;
            height: 1.5rem;
            margin-left: 0.2rem;

        }

        p {
            margin: 0.4rem;
            font-size: 0.9rem;
        }


    }

    .footerMenu {
        grid-area: footerMenu;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 0;

        a {
            text-decoration: none;
            font-size: 1.7rem;
            font-weight: 500;
            color: black;
            padding: 1rem;

        }

    }

    .datosUbicacion {
        grid-area: datosUbicacion;
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            display: flex;

            justify-content: space-around;

        }



    }

    #listaInfo {

        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 500;
        color: black;

    }
}

/* MEDIA QUERY 768PX */

@media screen and (max-width: 768px) {

    .carouselDesktop {
        display: none;
    }

    .carouselMobile {
        display: block;

    }

    .picadas h2 {
        font-size: 2.0rem;
        text-align: center;
        padding: 5%;
    }

    .cajas h2 {
        font-size: 2.0rem;
        text-align: center;
        padding: 5%;
    }


    .footer {
        display: grid;
        grid-template-columns: 2fr 3fr;

        grid-template-areas:
            "footerMenu footerMenu"
            "newsletter newsletter"
            "datosUbicacion datosUbicacion";
    }

    .newsletter {
        grid-area: newsletter;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        padding: 5%;

        div {
            display: flex;
            align-items: center;
        }

        input {
            width: 20rem;
            height: 1.5rem;
            margin-left: 0.2rem;

        }

        p {
            margin: 0.4rem;
            font-size: 0.9rem;
        }


    }

    .footerMenu {
        grid-area: footerMenu;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 4% 0 0 0;

        a {
            text-decoration: none;
            font-size: 1.7rem;
            font-weight: 500;
            color: black;
            padding: 1rem;

        }

    }

    .datosUbicacion {
        grid-area: datosUbicacion;
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            display: flex;
            justify-content: space-around;

        }



    }

    #listaInfo {
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 500;
        color: black;

    }

    .contacto {


        .containerContacto {
            flex-direction: column;
            width: 100%;

            .formulario {
                width: 100%;
            }

            .containerIframe {
                width: 100%;

                iframe {
                    width: 100%;
                    padding: 5%;
                }
            }
        }
    }
}

/* MEDIA QUERY 520PX */

@media screen and (max-width: 520px) {
    .info {
        flex-direction: column;

        .mediosDePago {
            width: 100%;
            margin: 4% 0;
            p {
                font-size: 1.2rem;
            }
        }

        .zonasDeEntrega {
            width: 100%;
            margin-bottom: 4%;

            p {
                font-size: 1.2rem;
            }
        }

    }
    .productos {
        .tituloProductos {
            margin: 4% 0 2% 0;
        }
    }
    .eventos {
        margin-bottom: 3%;

        &Titulo {
            margin:2% 0 1% 0;
        }
        &Container {
            margin-top:3%;
        }
        &Texto {
            font-size: 0.8rem;
        }
        a {
            font-size: 1rem;
            margin: 2%;
        }
    }
    .picadas {

        h2 {
            font-size: 1.7rem;
            text-align: left;
            padding: 5%;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .cajas h2 {
        font-size: 1.7rem;
        text-align: left;
        padding: 5%;

    }
    .historia {
        &Texto {
            p {
                font-size: 1.1rem;
            }
            
        }
    }
    .contacto {
        .formularioP {
            p {
                font-size: 1.3rem
            };
        }
    }
    .footer {
        display: grid;
        grid-template-columns: 2fr 2fr;

        background-repeat: repeat;
        grid-template-areas:
            "footerMenu footerMenu"
            "newsletter newsletter"
            "datosUbicacion datosUbicacion";


        &Menu {
            padding-top: 4%;
            margin-left: 0;
        }

        .newsletter {
            padding: 5%;

            p {
                display: none;
            }

            #email {
                width: 70vw;
            }


        }

        .datosUbicacion {
            #listaInfo {
                li:last-child {
                    display: none;
                }



            }
        }
    }


}