/* seccion picadas */

.botonCarrito {
    display: flex;
    width: 3.7rem;
    gap: 2px;

    #carritoCondicion {
        position: relative;
        right: 0;

        width: 15px;
        height: 15px;
        visibility: hidden;

    }

    button {
        /* border-radius: 4px; */
        border: none;

        :hover {
            box-shadow: 0.5px 0.5px 0.2px rgb(187, 186, 186);
        }

        img {
            width: 40px;
            height: 40px;
            border: none;
        }

    }





}


.picadas {

    display: flex;
    flex-direction: column;

    &Menu {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .tituloPicadas {
            @include tituloSeccion;
        }

        label {
            margin: 2% 0 2% 2%;
            font-size: 1.5rem;
        }

        &Titulos {
            display: flex;
            justify-content: space-between;


        }
    }

}


.dropdown {
    padding: 2% 0 2% 3%;
}

.divProducto {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    font-size: 1.8rem;
}

.fotosPicadas {
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .containerPicadas {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        .containerInterno {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .containerTitulo {
            width: 100%;
            padding: 2% 0 2% 3%;
            text-align: center;




        }
    }

    article {
        padding: 1%;
        width: 50%;
        min-width: 55vh;

    }

}

.animation {
    animation-name: aumento;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes aumento {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.card {
    margin-bottom: 1rem;

    h5 {
        font-size: 2rem;
    }

    &-title {
        &::after {
            content: "."
        }
    }
}

#tablasChicas {
    padding-top: 2%;
}

#tablasMedianas {
    display: none;
}

#tablasGrandes {
    display: none;
}

.carrito {
    display: flex;
    flex-direction: column;

    h3 {
        width: 100%;
        text-align: center;
    }

    .cerrarCarrito {
        position: absolute;
        top: 2px;
        right: 2px;
    }

    &Titulos {
        display: flex;
        flex-direction: row;

        &1 {
            width: 50%;

            li {
                list-style: none;
            }
        }

        &2 {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: space-around;

            li {
                list-style: none;
            }
        }
    }

    &TitulosA {
        display: flex;
        flex-direction: row;

        &1 {
            width: 50%;

            li {
                list-style: none;
            }
        }

        &2 {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: space-around;

            li {
                list-style: none;
            }
        }
    }

}

.precios {
    &::before {
        content: "$ "
    }

    &::after {
        content: ".00"
    }
}

h6 {
    display: none;
}

.borrarProducto {

    width: 1.8rem;
    height: 1.8rem;
    color: white;
    background-color: red;
    border-radius: 4px;
    border: white 0.2px solid;
    box-shadow: 0.5px 0.5px 0.2px rgb(187, 186, 186);


}

.carritoTotal {
    margin-left: 2rem;
    font-size: 1.3rem;


}

.montoFinal {
    display: flex;
    justify-content: space-evenly;

    .botonFinalizaCompra {
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px;
    }
}

.carrocarro {
    width: 100%;
    height: 100%;
    z-index: 1;
    
    .shopCart {
        z-index: 4;
        visibility: hidden;
        position: fixed;
        background-color: white;
        width: 45%;
        height: 100%;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 10px, 5px, 5px black;
        -webkit-box-shadow: 10px, 5px, 5px black;
        transform: translateX(0);
       

        .cerrarCarrito {
            width: 1.8rem;
            height: 1.8rem;
            color: white;
            background-color: black;
            border-radius: 4px;
            border: white 0.2px solid;
            box-shadow: 0.5px 0.5px 0.2px rgb(187, 186, 186);
        }

    }


}
.ocultarCarrito {
    visibility: hidden;
    transition: 2s linear;
}

