/* seccion picadas */

.picadas {
  
    display: flex;
    flex-direction: column;

    &Menu {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        .tituloPicadas {
            @include tituloSeccion;
        }

        label{
            margin: 2% 0 2% 2%;
            font-size: 1.5rem;
        }
    }
    
}


.dropdown {
    padding: 2% 0 2% 3%;
}


.fotosPicadas {
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .containerPicadas {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        .containerInterno {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .containerTitulo {
            width: 100%;
            padding: 2% 0 2% 3%;
            text-align: center;
           
            
            
            
        }
    }

    article {
        padding: 1%;
        width: 50%;
        min-width: 55vh;
        
    }

}

.animation {
    animation-name: aumento;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}
@keyframes aumento {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.card {
    h5 {
        font-size: 2rem;
    }
}

#tablasChicas {
    padding-top: 2%;
}

#tablasMedianas {
    display: none;
}

#tablasGrandes {
    display: none;
}